<mat-toolbar color="warn">
    <button mat-icon-button class="controller">
        <mat-icon>menu</mat-icon>
    </button>
    
    <div class="profile">
        <div class="icon">
            <img src="/assets/Customer.png">
        </div>
        Username
        <div class="dropdown">
            drop
            <div class="dropdown-content">
                <a class="drpdwn_anchor" href="#">Logout</a>
            </div>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidebar">
        <mat-toolbar class="side-toolbar">
            <span>MENU</span>
        </mat-toolbar>

        <mat-list>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">Borrow Books</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">Return Books</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" routerLink="borrow-books" routerLinkActive="active">Available Books</a>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        
        <mat-list>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">Rules And Penalties</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">No. of Penalties</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">About Us</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">Contact Us</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <div class="content">
        <router-outlet></router-outlet> 
    </div>
</mat-sidenav-container>
