* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    height: 90vh;
    background-color: rgba(5, 34, 201, 0.541);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    
}

.upper-portion, .lower-portion {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

.upper-portion {
    text-align: center;
}

.lower-portion {
    width: 80vw;
    height: 89vh;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-bottom: 3px;

    display: flex;
    flex-direction: column;
}

.upper-portion img {
    height: 11rem;
    border-radius: 50%;
    border: 3px solid white;
}

.register-label {
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 2px black, 0 0 1px black, 0 0 2px black, 0 0 2px black;
    padding-top: 10px;
    align-self: center;
}

.register-formfield-container {
    background-color: rgb(255, 254, 254);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;
}

.register-formfield {
    width: 100%;
    padding: 10px;

    display: block;
    flex-direction: row;
}

mat-form-field {
    display: block;
    font-size: 12pt;
}

.error{
    color: red;
    font-size: 12pt;
}

.form-control {
    border: 1px solid rgb(0, 0, 0);
    font-size: 14pt;
    border-radius: 5px;
    padding-left: 1px;
    height: 25px;
}

.mat-radio-button {
    padding-inline: 10px;
}

.role-field {
    display: block;
}

.role-label, .radiobtn {
    color: black;
    font-size: 14pt;
}

.radiobtn {
    padding-left: 10px;
    padding-inline-end: 10px;
    margin-left: 10px;
}

.btn {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
    background-color: rgb(0, 132, 255);
    cursor: pointer;
    width: 26vw;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 1px;
    display: inline;
    
}

a {
    text-decoration: none;
    color: #fff;
}
