<mat-toolbar color="warn" class="controller">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    
    <div class="profile">
        <div class="icon">
            <img src="/assets/Admin.png">
        </div>
        Admin

        <div class="dropdown">
            drop
            <div class="dropdown-content">
                <a class="drpdwn_anchor" routerLink="/login" routerLinkActive="active">Logout</a>
            </div>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidebar">
        <mat-toolbar class="side-toolbar">
            <span>MENU</span>
        </mat-toolbar>

        <mat-list>
            <mat-list-item>
                <a class="sidenav_anchor" routerLink="in-stack" routerLinkActive="active">In Stack</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" routerLink="add-book" routerLinkActive="active">Add Books</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" routerLink="pending-books" routerLinkActive="active">Book Requests</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" routerLink="register" routerLinkActive="active">Register Student</a>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        
        <mat-list>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">Rules And Penalties</a>
            </mat-list-item>
            <mat-list-item>
                <a class="sidenav_anchor" href="#">Penalized</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    
    <div class="content">
        <router-outlet></router-outlet> 
    </div>
</mat-sidenav-container> 

