<div class="editbook-formfield-container">
    <div class="editbook-formfield">
        <form [formGroup] ="editBookForm" (ngSubmit)="postdata(editBookForm)">
            <mat-form-field>
                <mat-label for="book_title">Book Title</mat-label>
                <input matInput class="form-control" name="book_title" formControlName="book_title" placeholder="Book book title" required>
                <mat-error *ngIf="book_title.invalid">
                    <span *ngIf="book_title.errors?.['required']">
                        Book title is required
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="authors">Author</mat-label>
                <input matInput class="form-control"
                 id="authors" name="authors" formControlName="authors" placeholder="Author/s name" required>
                <mat-error *ngIf="authors.invalid">
                    <span *ngIf="authors.errors?.['required']">
                        Author's name is required
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="date_published">Date Published</mat-label>
                <input matInput type="date" class="form-control" id="date_published" name="date_published" formControlName="date_published" placeholder="mm-dd-yyyy" required>
                <mat-error *ngIf="date_published.invalid">
                    <span *ngIf="date_published.errors?.['required']">
                        This field is required
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-label>Category:</mat-label>
            <mat-radio-group class="radiobtn" id="category" name="category" formControlName="category">
                <mat-radio-button value="Scholarly Book">Scholarly Book</mat-radio-button>
                <mat-radio-button value="Textbook">Textbook</mat-radio-button>
                <mat-radio-button value="Anthology">Anthology</mat-radio-button>
                <mat-radio-button value="Dissertation">Dissertation</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="quantity">
                <mat-label for="quantity">Quantity</mat-label>
                <input matInput type="number" class="form-control" id="quantity" name="quantity" formControlName="quantity" placeholder="Quantity" required>
                <mat-error *ngIf="quantity.invalid">
                    <span *ngIf="quantity.errors?.['required']">
                        This field is required
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-label>Status:</mat-label>
            <mat-radio-group class="radiobtn" id="status" name="status" formControlName="status">
                <mat-radio-button value="IN-STACK">In-Stack</mat-radio-button>
            </mat-radio-group>
            <button type="submit" class="btn" [disabled]="!editBookForm.valid">
                UPDATE
            </button>
        </form>
    </div>
</div>
